#map {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    order: 2;
}
#ocean {
    fill: #C3C3C300;
}
.custom-map {
    max-height: 100%;
    width: 78%;
}
h1 {
    font-family: "menu", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.titre {
    text-align: center;
    margin-top: 0px;
    color: #5386e4ee;
    margin: 15px 0 15px 0;
}
/* background des pays visités */
.paysPointer {
    fill: #02BAE0;
}
/* le style quand on passe la souris (version pc) sur les pays a visités */
.paysPointer:hover { 
    fill:#5386e4;
    transition: 1s;
    transform: translate(-0.5%) scaleZ(1.5); 
}
/* background des autres pays */
path {
    fill: #949396bb;
}
/* style quand on passe sur l'allemagne (version pc) */
#allemagne:hover {
    fill:#5386e4;
    transition: 1s;
    transform: rotate(-0.5deg); 
}
/* style quand on passe sur l'hollande et la belgique (version pc)*/ 
#holland:hover, #belgique:hover {
    fill:#5386e4;
    transition: 1s;
    transform: none; 
}