#ocean {
    fill: #00C0E100;
}
.custom-map {
    max-height: 100%;
    width: 100%;
}
/* background des pays visités */
.paysPointer {
    fill: #085372;
}
/* le style quand on passe la souris (version pc) sur les pays a visités */
.paysPointer:hover { 
    fill:#e0ec23;
    transition: 1s;
    transform: translate(-2%) scaleZ(1.5); 
}
/* background des autres pays */
path {
    fill: #919085;
}
/* style quand on passe sur l'allemagne (version pc) */
#allemagne:hover {
    fill:#e0ec23;
    transition: 1s;
    transform: rotate(-1deg); 
}
/* style quand on passe sur l'hollande (version pc) */
#holland:hover {
    fill:#e0ec23;
    transition: 1s;
    transform: none; 
}
/* style quand on passe sur la belgique (version pc) */
#belgique:hover {
    fill:#e0ec23;
    transition: 1s;
    transform: none; 
}