body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav {
    background-color: #c3c3c350;
    border-radius: 25px;
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
    grid-row: 2 / 3; 
}
#map { 
    display: flex;
    grid-column: 1 / 13;
    grid-row: 1 / 1;
}
.info-aside {
    background-image: url('src/paris.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 25px;
    grid-column: 10 / 13;
    grid-row: 1 / 1;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;;
    background-color: #5386E450;
    grid-column: 1 / 13;
    grid-row: 5 / 6;
}
.auteur {
    color: #4C4B63;
}
.covid {
    color: red;
}

/*MEDIA QUERIES FOR iPAD LANDSCAPE AND PORTRAIT STYLE*/
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .info-aside {
        display: none
    }
}

/*MEDIA QUERIES FOR SMARTPHONE LANDSCAPE AND PORTRAIT STYLE*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .info-aside, .social-aside, #map {
        display: none;
    }
}