@font-face {
    font-family: "titre";
    src: url('src/fonts/PERTILI.TTF');
    font-family: "article";
    src: url('src/fonts/PER____.TTF');
    font-family: "menu";
    src: url('src/font/good times rg.ttf');
}
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav {
    background-color: #c3c3c350;
    border-radius: 25px;
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}
a {
    text-decoration: none;
    color: black;
}
#map {
    grid-column: 1 / 13;
    grid-row: 2 / 5; 
}
.social-aside {
    margin: auto;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
/*#facebook , #twitter, #insta {
    margin-bottom: 1em;
}*/
.info-aside {
    border-radius: 25px;
    grid-column: 1 / 4;
    grid-row: 2 / 5;
    background-color: #94939650;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;;
    background-color: #5386E450;
    grid-column: 1 / 13;
    grid-row: 5 / 6;
}
.auteur {
    color: #4C4B63;
}
.covid {
    color: red;
}

/*MEDIA QUERIES FOR iPAD LANDSCAPE AND PORTRAIT STYLE*/
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .info-aside {
        display: none
    }
}

/*MEDIA QUERIES FOR SMARTPHONE LANDSCAPE AND PORTRAIT STYLE*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .info-aside, .social-aside, #map {
        display: none;
    }
}