@font-face 
{
    font-family: "titre";
    src: url('../src/fonts/PERTILI.TTF');
    font-family: "article";
    src: url('../src\font\corbelli.ttf');
    font-family: "menu";
    src: url('../src/font/good times rg.ttf');
}
body 
{
    display: grid;
    grid-template-columns: repeat(12, 8fr);
    grid-gap: 3px;
}
/*BAR DE NAVIGATION*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}
.nav-logo {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    order: 1;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav 
{
    background-color: #c3c3c350;
    border-radius: 25px;
    grid-column: 5 / 13;
    width: 100%;
    font-family: 'menu', 'Arial Narrow', Arial, sans-serif;
    order: 2;
}
.liNav {
    color: #4C4B63;
    border-left: solid;
    padding-left: 7px;
}
.liNav:hover {
    color: #5386e4;
}

a {
    text-decoration: none;
    color: black;
}
/* polices d'écriture*/
h1 {
  font-family: "menu", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em;
}
h2{
  font-family: "menu", Arial, Helvetica, sans-serif;
  font-size: 1em;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
}
.titre {
  text-align: center;
  grid-column: 2 / 12;
  text-shadow: #4C4B63;
}
/*block central par ordre*/
.infoLondres {
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 25px;
  grid-column: 1 / 13;
  grid-row: 3/7;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin: 20px;
  text-align: justify;
  margin-bottom: 30px;
}
.one, .two, .tree
{
  margin-left: 20px;
  text-align: justify;
  width: 33%;
  height: 100%;
  background-color: #cbcae6;
  padding: 8px;
}

footer 
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 25px;;
    background-color: #5386E450;
    grid-column: 1 / 13;
    grid-row: 7 / 8;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  text-align: center;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons a.twitter:hover
{
  background-color:#00aced;
}
.social-icons a.youtube:hover
{
  background-color:red;
}
.social-icons a.instagram:hover
{
  background-color:#F68343;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;
  }
}
.footer-Covid
{
  margin-left: 5%;

}

/*MEDIA QUERIES POUR TABLETTES*/
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .info-aside {
        display: none;
    }
}

/*MEDIA QUERIES POUR SMARTPHONE ET PORTRAIT STYLE*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .info-aside, .social-aside, #map {
        display: none;
    }
    .liNav {
        display: none;
    }
}
