@font-face {
    font-family: "titre";
    src: url('../src/fonts/PERTILI.TTF');
    font-family: "article";
    src: url('../src\font\corbelli.ttf');
    font-family: "menu";
    src: url('../src/font/good times rg.ttf');
}


/* polices d'écriture*/

h1 {
    font-family: "menu", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 2px 2px rgb(19, 56, 158);
}

h2 {
    font-family: "menu", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 2px 2px rgb(19, 56, 158);
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 2px 2px black;
}

header {
    margin: 5px;
    position: fixed;
    top: 0;
    width: 99%;
    justify-content: space-between;
    z-index: 2;
}

.nav-bar {
    display: flex;
    margin: 5px;
}

.nav-logo {
    order: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    border-radius: 5px;
    width: 100%;
    font-family: 'menu', 'Arial Narrow', Arial, sans-serif;
    order: 2;
}

.liNav:hover {
    color: #5386e4;
    text-shadow: 1px 2px 2px black;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px rgb(19, 56, 158);
}

.main-container {
    background-repeat: no-repeat;
    border-radius: 25px;
}

#propo {
    width: 100%;
}

.titre {
    text-align: center;
    margin-top: 0px;
}

.tablet-titre {
    text-align: center;
    margin-top: 0px;
    color: white;
    display: none;
}

.content,
.modal {
    position: fixed;
    top: 120px;
    background: rgba(95, 93, 93, 0.8);
    color: #f1f1f1;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70vh;
    margin-top: 10px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.one,
.two,
.tree {
    width: 33%;
    max-height: 60vh;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 1);
    padding: 25px;
    overflow-y: scroll;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99%;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    padding: 10px 0 10px 0;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.youtube:hover {
    background-color: red;
}

.social-icons a.instagram:hover {
    background-color: #F68343;
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

.footer-Covid {
    margin-left: 5%;
}


/*MEDIA QUERIES POUR TABLETTES*/

@media only screen and (max-device-width: 1024px) {
    .nav-logo {
        display: none;
    }
    .li-text {
        font-size: 80%;
    }
    .propo-img {
        display: none;
    }
    .content {
        flex-direction: column;
        height: 80vh;
    }
    .titre {
        text-align: center;
        margin-top: 0px;
        color: white;
        display: none;
    }
    .tablet-titre {
        text-align: center;
        margin-top: 0px;
        color: white;
        display: block;
    }
    .one,
    .two,
    .tree {
        width: 97%;
        padding: 5px;
        margin: 0 0 15px 5px;
    }
}

@media only screen and (max-device-width: 480px) {
    
    header {
        width: 95%;
    }
    .menu {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    nav ul {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .nav-logo {
        display: none;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer {
        display: none!important;
    }
}